@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.gridbox{
    width: 3vw;
    height: 3vw;
    border-radius: 0.5vw;
    background-color: gray;
    display: inline-block;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    transition: 0.3s;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nextGridBox{
    width: 3vw;
    height: 3vw;
    border-radius: 0.5vw;
    background-color: gray;
    display: inline-block;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    transition: 0.3s;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nextGridBox:hover{
    background-color: rgb(165, 165, 165);
}
.gridbox:hover{
    background-color: rgb(165, 165, 165);
}

.gridboxGreen:hover{
    background-color: rgb(255, 0, 0);
}

.gridboxRed:hover{
    background-color: rgb(0, 255, 0);
}

