@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
#interface{
    text-align: center;
}
.grid-container{
    text-align: center;
}
.gridbox{
    width: 3vw;
    height: 3vw;
    border-radius: 0.5vw;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    transition: 0.3s;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cone{
    border-radius: 1.5vw;
}

.nextGridBox{
    width: 3vw;
    height: 3vw;
    border-radius: 0.5vw;
    background-color: gray;
    display: inline-block;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    transition: 0.3s;   
    font-family: 'JetBrains Mono', monospace;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    
}
.nextGridBox:hover{
    background-color: rgb(165, 165, 165);
}


.gridboxGreen:hover{
    background-color: rgb(255, 0, 0);
}

.gridboxRed:hover{
    background-color: rgb(0, 255, 0);
}

.boxA1 {
    background-color: rgb(255, 0, 0);
}


#allGrids {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap; /* Wrap the grid items */
    margin: 5vw auto; /* Center the container and add some margin */
}


.submitData {
    display: flex;
    justify-content: right;
    align-items: right;
    float: right;
    background-color: #F4312E;
    color: white;
    border: none;
    border-radius: 3px;
    width: 135px;
    height: 42px;
    text-align: center;
    
}

.key-item-color cone {
    background-color: rgb(255, 0, 0);
    border-radius: 1.5vw;
}
