#saves-gui{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

#saves-gui-inner{
    width: 50vw;
    height: 50vh;
    background-color: rgba(67, 67, 67, 0.314);
    border-radius: 1vw;
}