@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
:root{
  --bg-color: rgb(20, 20, 20);
  --header-color: rgb(40, 40, 40);
  --header-height: 10vh;
  --header-border: 1px solid white;
  --text-color: white;
  --button-hover: rgb(60, 60, 60);
  --button-selected: ;
}
@media screen and (max-width: 600px) {
  :root {
    --header-height: 15vh;
  }
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
body {
  font-family: 'San Francisco', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  height: var(--header-height);
  padding: 0 20px;
  border-top: var(--header-border);
  border-bottom: var(--header-border);
}
.button-container {
  display: flex;
  height: var(--header-height);
  padding-right: 20px;
  border-left: var(--header-border);
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--header-color);
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: var(--header-height);
  width: 10vw;
  margin-right: -10px;
  cursor: pointer;
  border-right: var(--header-border);
  transition: 0.3s ease-in-out;
}
.button:hover{
  background-color: var(--button-hover);
}
.button:not(:last-child) {
  margin-right: 0;
}
h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--text-color);
}
#title{
  font-size: 2vh;
  font-weight: bold;
  margin-right: 20px;
}
#loading-screen{
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: hidden;
}
#head{
  background-color: var(--header-color);
  border-bottom: var(--header-border);
  height: var(--header-height);
  float: top;
}
#title{
  height: 4vw;
  width: 15vw;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  padding-top: 1.5vw;
}
.head-button{
  display: inline;
  top: 0;
  width: 7vw;
  height: var(--header-height);
  border-left: 1px solid rgb(88, 88, 88);
  border-right: 1px solid rgb(88, 88, 88);
  text-align: center;
  font-size: 1.5em;
}
.head-button button{
  background-color: rgb(37, 37, 37);
  color: var(--text-color);
  padding-top: 1.15vw;
  font-family: "JetBrains Mono", monospace;
  font-weight: 750;
  border: none;
  width: 7vw;
  height: 4vw;
  border-radius: 0;
  transition: 0.2s;
}
.head-button button:hover{
  background-color: rgb(88, 88, 88);
  font-weight: 1500;
}
#loading-screen img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main{
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}
.fadeOut{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
#sideText{
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  float: right;
  margin-right: 20px;
}
#infoText{
  font-family: "Jaldi", sans-serif;
}
#label{
  display: inline-block;
}
#checkbox{
  width: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
  background-color: #ffffff;
  display: inline-block;
}
#header-tabs-file{
  display: none;
}
#header-tabs-more{
  display: none;
}
.selected{
  background-color: var(--button-selected);
}