<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/grid.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" />
    <script src="../app/Grid.js"></script>
    <script src="../app/GridNew.js"></script>
    <script src="../app/ArrayUtils.js"></script>
    <script src="../app/Constants.js"></script>
    <script src="../app/MoreOptions.js"></script>
    <script src="../app/index.js"></script>
    <script src="../app/Interface.js"></script>
    <script src="../app/Exporter.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <title>Next Move App</title>
    <link rel="icon" href="../assets/favicon.ico">
  </head>
  <body>
    <div id="loading-screen">
        <img src="../assets/preloader.jpg" alt="loading" />
    </div>
    <div id="main">
      <header class="header">
        <div id="title">Next Move App</div>
        <div class="button-container">
          <a href="#" onclick="tab('options')" class="button" id="optionsTab">Options</a>
          <a href="#" onclick="tab('file')" class="button" id="fileTab">File</a>
          <a href="#" onclick="tab('more')" class="button" id="moreTab">More</a>
        </div>
        <div class="header-tabs">
          <div id="header-tabs-options">
            <div class="label">Other team scored coopertition bonus?</div>
            <div id="checkbox" onclick="coopertitionBonus()"></div>
          </div>
          <div id="header-tabs-file">
            <h3>Input File (DEPRECATED)</h3>
          </div>
          <div id="header-tabs-more">
            <button onclick="theme('dark')">Dark</button>
            <button onclick="theme('light')">Light</button>
            <button onclick="theme('ocean')">Ocean</button>
            <button onclick="theme('pink')">Pink</button>
          </div>
        </div>
      </header>

      <div id="grids">
        <div class="grid-container">
          <h1 class="grid-title">Current Grid</h1>
          <div id="gridlineA">
            <button id="boxA1" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA2" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA3" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA4" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA5" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA6" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA7" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA8" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA9" class="gridbox" onclick="gridClickHandler(this.id)"></button>
          </div>
          <div id="gridlineB">
            <button id="boxB1" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB2" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB3" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB4" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB5" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB6" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB7" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB8" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB9" class="gridbox" onclick="gridClickHandler(this.id)"></button>
          </div>
          <div id="gridlineC">
            <button id="boxC1" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC2" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC3" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC4" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC5" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC6" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC7" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC8" class="gridbox" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC9" class="gridbox" onclick="gridClickHandler(this.id)"></button>
          </div>
        </div>

        <div class="grid-container">
          <h1>Next Move</h1>
          <div id="nextMove">
          <div id="nextGridA">
            <div id="nextGridA1" class="nextGridBox"></div>
            <div id="nextGridA2" class="nextGridBox"></div>
            <div id="nextGridA3" class="nextGridBox"></div>
            <div id="nextGridA4" class="nextGridBox"></div>
            <div id="nextGridA5" class="nextGridBox"></div>
            <div id="nextGridA6" class="nextGridBox"></div>
            <div id="nextGridA7" class="nextGridBox"></div>
            <div id="nextGridA8" class="nextGridBox"></div>
            <div id="nextGridA9" class="nextGridBox"></div>
          </div>
          <div id="nextGridB">
            <div id="nextGridB1" class="nextGridBox"></div>
            <div id="nextGridB2" class="nextGridBox"></div>
            <div id="nextGridB3" class="nextGridBox"></div>
            <div id="nextGridB4" class="nextGridBox"></div>
            <div id="nextGridB5" class="nextGridBox"></div>
            <div id="nextGridB6" class="nextGridBox"></div>
            <div id="nextGridB7" class="nextGridBox"></div>
            <div id="nextGridB8" class="nextGridBox"></div>
            <div id="nextGridB9" class="nextGridBox"></div>
          </div>
          <div id="nextGridC">
            <div id="nextGridC1" class="nextGridBox"></div>
            <div id="nextGridC2" class="nextGridBox"></div>
            <div id="nextGridC3" class="nextGridBox"></div>
            <div id="nextGridC4" class="nextGridBox"></div>
            <div id="nextGridC5" class="nextGridBox"></div>
            <div id="nextGridC6" class="nextGridBox"></div>
            <div id="nextGridC7" class="nextGridBox"></div>
            <div id="nextGridC8" class="nextGridBox"></div>
            <div id="nextGridC9" class="nextGridBox"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>