<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/grid.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" />
    <script src="../app/Grid.js"></script>
    <script src="../app/GridNew.js"></script>
    <script src="../app/ArrayUtils.js"></script>
    <script src="../app/Constants.js"></script>
    <script src="../app/MoreOptions.js"></script>
    <script src="../app/index.js"></script>
    <script src="../app/Interface.js"></script>
    <script src="../app/Exporter.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../app/Simulate.js"></script>
    <script src="../app/key.js"></script>
    <script type="module" src="../app/Graphs.js"></script>
    <script type="importmap">
    
    </script>
    <title>Next Move App</title>
    <link rel="icon" href="../assets/favicon.ico">
  </head>
  <body>
    <div id="loading-screen">
        <img src="../assets/preloader.jpg" alt="loading" />
    </div>
    <div id="main">
      <header class="header">
        <div id="title">Next Move App</div>
        <div class="button-container">
          <a href="#" onclick="tab('options')" class="button" id="optionsTab">Options</a>
          <a href="#" onclick="tab('file')" class="button" id="fileTab">File</a>
          <a href="#" onclick="tab('more')" class="button" id="moreTab">More</a>
          <a href="#" onclick="tab('simulate')" class="button" id="simulateTab">Simulate</a>
        </div>
        <div class="header-tabs">
          <div id="header-tabs-options">
            <div class="label">Other team scored coopertition bonus?</div>
            <div id="checkbox" onclick="coopertitionBonus()"></div>
            <select id="view-select">
              <option>Top</option>
              <option>Front</option>
              <option>Left</option>
              <option>Isometric (???)</option>
            </select>
          </div>
          <div id="header-tabs-file">
            <div class="key">
              <div class="modal-content">
              <span class="close">&times;</span>
              <h1>Key</h1>
              <p> Red = Spot Taken </p>
              <p> Blue = Best Move </p>
              <p> Green = Good Move </p>
              <p> Lightish Green = Decent Move </p>
              <p> Light Green = Just a Move </p>
              </div>
              </div>
            <button id="keyButton"> key </button>
            <h3>Input File (DEPRECATED)</h3>
          </div>
          <div id="header-tabs-more">
            <button onclick="theme('dark')" class="button-theme darktheme">Dark</button>
            <button onclick="theme('light')" class="button-theme lighttheme">Light</button>
            <button onclick="theme('ocean')" class="button-theme oceantheme">Ocean</button>
            <button onclick="theme('pink')" class="button-theme pinktheme">Pink</button>
          </div>
          <div id="header-tabs-simulate">
            <button id="#start" onclick="start()">Start</button>
            <button id="#stop" onclick="stopreset()">Stop and Reset</button>
            <h3 id="timer">0:00</h3>
            <p id="phase">AUTONOMOUS</p>
          </div>
        </div>
        <div class="key">
          <div class="key-item">
            <div class="key-item-color cone"></div>
            <div class="key-item-text">Cone</divv>
        </div>!
      </header>

      <div id="liveEvents">
        <h2 id="live-events-title">Live Events</h2>
        <p id="recDisplay">Recording is OFF</p>
        <div id="liveEvents-inner">
        </div>
      </div>

      <div id="grids">
        <div class="grid-container">
          <h1 class="grid-title">Current Grid</h1>
          <div id="gridlineA">
            <button id="boxA1" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA2" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA3" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA4" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA5" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA6" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA7" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA8" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxA9" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
          </div>
          <div id="gridlineB">
            <button id="boxB1" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB2" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB3" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB4" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB5" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB6" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB7" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB8" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxB9" class="gridbox cone" onclick="gridClickHandler(this.id)"></button>
          </div>
          <div id="gridlineC">
            <button id="boxC1" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC2" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC3" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC4" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC5" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC6" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC7" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC8" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
            <button id="boxC9" class="gridbox hybrid" onclick="gridClickHandler(this.id)"></button>
          </div>
        </div>

        <div class="grid-container">
          <h1>Next Move</h1>
          <div id="nextMove">
          <div id="nextGridA">
            <div id="nextGridA1" class="nextGridBox"></div>
            <div id="nextGridA2" class="nextGridBox"></div>
            <div id="nextGridA3" class="nextGridBox"></div>
            <div id="nextGridA4" class="nextGridBox"></div>
            <div id="nextGridA5" class="nextGridBox"></div>
            <div id="nextGridA6" class="nextGridBox"></div>
            <div id="nextGridA7" class="nextGridBox"></div>
            <div id="nextGridA8" class="nextGridBox"></div>
            <div id="nextGridA9" class="nextGridBox"></div>
          </div>
          <div id="nextGridB">
            <div id="nextGridB1" class="nextGridBox"></div>
            <div id="nextGridB2" class="nextGridBox"></div>
            <div id="nextGridB3" class="nextGridBox"></div>
            <div id="nextGridB4" class="nextGridBox"></div>
            <div id="nextGridB5" class="nextGridBox"></div>
            <div id="nextGridB6" class="nextGridBox"></div>
            <div id="nextGridB7" class="nextGridBox"></div>
            <div id="nextGridB8" class="nextGridBox"></div>
            <div id="nextGridB9" class="nextGridBox"></div>
          </div>
          <div id="nextGridC">
            <div id="nextGridC1" class="nextGridBox"></div>
            <div id="nextGridC2" class="nextGridBox"></div>
            <div id="nextGridC3" class="nextGridBox"></div>
            <div id="nextGridC4" class="nextGridBox"></div>
            <div id="nextGridC5" class="nextGridBox"></div>
            <div id="nextGridC6" class="nextGridBox"></div>
            <div id="nextGridC7" class="nextGridBox"></div>
            <div id="nextGridC8" class="nextGridBox"></div>
            <div id="nextGridC9" class="nextGridBox"></div>
          </div>
        </div>
      </div>

      </div>
    </div>
    <div class="charts">
      <canvas id="myChart"></canvas>
    </div>    
  </body>
</html>