<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../app/index.js"></script>
    <title>Next Move App</title>
    <link rel="icon" href="../assets/favion.ico">
  </head>
  <body>
    <div id="loading-screen">
      <img src="../assets/preloader.jpg" alt="loading" />
    </div>
    <h1>Breakout!</h1>
    <h1>hi</h1>

    
  </body>
</html>